*{
    /*-search-bar-bg:#DCDCDC;*/
    -search-bar-bg:rgb(220,220,220);
}

#searchRoot{
    -fx-background-color: -search-bar-bg;
}
.searchBox{
    width: 100%;
    -fx-pref-height:90px;
    height:90px;
    -fx-max-height: 90px;
    -fx-min-height: 90px;
    -fx-control-inner-background: -search-bar-bg;
    -fx-background-color: -search-bar-bg;
    -fx-font-size: 20px;
    -fx-alignment: center-left;
    -fx-font-family: 'DejaVu Sans';
    -fx-font-style: normal;
}
.searchResult{
    width:100%;
    height:50px;
}
.resultsContainer{
    width:100%;
    -fx-pref-width: 100%;
    height:90px;
    -fx-pref-height: 90px;
    /*-fx-min-height: 90px;*/
    -fx-padding: 10px;
}
.resultsContainerActive {
    -fx-background-color: red;
}
.mdArea{
    -fx-padding: 10px;
}
.resultsScrollPane{
    -fx-background-color: -search-bar-bg;
}
.resultsScrollPane > * {
    -fx-background-color: -search-bar-bg;
}
/*Set our own font sizes for markdown text*/
.mdArea .markdown-heading-1 .markdown-text{
    -fx-font-size: 32px;
    -fx-padding: 100 !important;
}

.mdArea .markdown-heading-2 .markdown-text{
    -fx-font-size: 28px;
}

.mdArea .markdown-heading-3 .markdown-text{
    -fx-font-size: 22px;
}

.mdArea .markdown-heading-4 .markdown-text{
    -fx-font-size: 20px;
}
.mdArea .markdown-heading-5 .markdown-text{
    -fx-font-size: 18px;
}